* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*To ensure accurate formatting*/
    font-family: Arial, Helvetica, sans-serif;
}



body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #ca9129 0%, #b63934 100%);
}


/*Total container*/
#container {
    width: 1400px;             
    max-width: 90%;  
    height: 700px;
    background-color: rgb(215, 214, 214);
    display: flex;      
    overflow: hidden; 
    border-radius: 15px; 
    box-shadow: 0 0 17px 7px rgba(0, 0, 0, 0.231);
    padding: 10px;
}


/*background*/
#background {
    width: 45%;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px #000000ad;
    object-fit: cover;

}


/*Auth container*/
#containerAuth {
    display: flex;
    width: 55%;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 50px;
    margin-top: 10%;
    text-align: center  ;
}

/*hr1*/
#mainDivider {
    width: 150px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border: none;
    margin-bottom: 40px;
    margin-top: 20px;
}


/*inputs*/
.input {
    outline: none;
    margin-bottom: 20px;
    border: none;
    width: 60%;
    padding: 12px 16px; 
    font-size: 16px; 
    border-radius: 8px;
    background-color: #a9a9a9;
    color: #000000;
    transition: all 0.3s ease; 
}

.input::placeholder {
    color: #474747;
}

.input:focus {
    background-color: #ebebeb; 
    box-shadow: 0 0 0 2px #00000097;
}


/*Password inputs*/
#containerInputPassword{
    width: 60%;
    display: flex;
    justify-content: center;
}

#inputPassword {
    width: 100%;
    margin-bottom: 0; /*To adjust the size eya*/
}

.eye {
    background-color: #a9a9a9;
    margin-left: 10px;
    border-radius: 8px;
    width: 30px;
    padding: 6px;
    height: 100%;
    cursor: pointer;    
}

#openEye {
    display: none;
}
#closeEye {
    display: none;
}


/*Button Create*/
#buttonCreate {
    margin-top: 20px;
    font-size: 20px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: #32130d;
    border: none;
    color: #d3d3d3;
    cursor: pointer;
    box-shadow: 0 0 3px 2px black;
    transition: 0.3s; 
}

#buttonCreate:active {
    box-shadow: 0 0 3px 0.5px black;
}


/*separator*/
#register {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    white-space: nowrap;
} 


/*hr2*/
.text-divider {
    width: 200px;
    height: 1px;
    background-color: rgb(0, 0, 0);
    border: none;
}

#text {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 16px;
}


/*Container buttons register*/
.containerButtonsRegister {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.buttonsRegister {
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 3px 1px black;
    background-color: #a9a9a9;
    color: black;
    transition: 30ms;
}

.buttonsRegister:active {
    box-shadow: 0 0 3px 0.5px black;
    background-color: rgb(155, 155, 155);
}

.social-icon {
    width: 30px;
    margin-right: 10px;
}


/*Log in*/
#question-login {
    margin-top: 30px;
    font-size: 18px;
}

a {
    color: #1a3baf;
    text-decoration: none;
    
}

a:hover {
    border-bottom: 1px solid black;
}


/*Make the site responsive*/
@media screen and (max-width: 950px) {
    h2 {
        font-size: 40px;
    }

    #buttonCreate {
        font-size: 18px;
        padding: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }


    #text {
        font-size: 12px;
    }

    .social-icon {
        width: 20px;
    }
    .buttonsRegister {
        font-size: 15px;
    }

    #question-login {
        font-size: 15px;
    }

}


@media screen and (max-width: 800px) {
    h2 {
        font-size: 30px;
    }

    #buttonCreate {
        font-size: 17px;
        padding: 6px;
        padding-left: 16px;
        padding-right: 16px;
    }

    #text {
        font-size: 10px;
    }

    .social-icon {
        width: 17px;
    }
    .buttonsRegister {
        font-size: 13px;
    }

    #question-login {
        font-size: 13px;
    }

}



@media screen and (max-width: 600px) {
    h2 {
        font-size: 25px;
    }

    .input {
        margin-bottom: 15px;
        width: 80%;
        padding: 10px 13px; 
        font-size: 13px; 
    }

    #containerInputPassword{
        width: 80%;
    }

    #buttonCreate {
        font-size: 15px;
        padding: 5px;
        padding-left: 13px;
        padding-right: 14px;
    }


    #text {
        font-size: 8px;
    }

    .social-icon {
        width: 15px;
    }
    .buttonsRegister {
        font-size: 11px;
    }

    #question-login {
        font-size: 11px;
    }

}

@media screen and (max-width: 500px) {

    #background {
        width: 80%;
        height: 35%;
    }

    #container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 0%;
        box-shadow: none;
    }

    #containerAuth {
        width: 90%;
    }

    h2 {
        font-size: 30px;
    }

    #buttonCreate {
        font-size: 18px;
        padding: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }


    #text {
        font-size: 12px;
    }

    .social-icon {
        width: 20px;
    }
    .buttonsRegister {
        font-size: 15px;
    }

    #question-login {
        font-size: 15px;
    }

}

@media screen and (max-height: 835px) and (max-width: 500px) {
    #background {
        display: none;
    }
}


@media screen and (max-height: 740px) {
    #container {
        height: 100%;
        border-radius: 0%;  
    }
}

@media screen and (max-height: 615px) {
    
    h2 {
        font-size: 20px;
    }

    #buttonCreate {
        font-size: 12px;
        padding: 5px;
        padding-left: 14px;
        padding-right: 14px;
    }


    #text {
        font-size: 9px;
    }

    .social-icon {
        width: 15px;
    }
    .buttonsRegister {
        font-size: 13px;
    }

    #question-login {
        font-size: 13px;
    }
}